// Colors
$yellow: #E8670B;
$yellow-light: #FC781A;
$dark: #13161A;
$black: #1E2225;
$dark-light: #181B1F;
$dark_blue: #2B2541;
$green: #5EC262;
$blue: #2B5AD3;
$orange: #f60;
$light-orange: #FF7112;
$yellow-bg: #C6D32B;
$red: #E43B45;
$pink: #D32B90;
$white: #fff;

$primary-color: #f60;
$font-color1: #2B2541;
$font-color2: #7C788A;
$bk-color: #E5E5E5;

// Media query breakpoints
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  992px,
    "desktop":      1200px,
    "desktop-wide": 1440px
);

// Z-index
$z-overlay: 9;
$z-header: 10;