html,
body {
  margin: 0;
  width: 100vw;
  background-color: #E5E5E5;
  color: #7C788A;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  cursor: default; }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 3px; }
  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(30, 34, 37, 0.8); }
  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: #E8670B;
    outline: 1px solid #E8670B;
    border-radius: 2px; }

*,
*::before,
*::after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

a,
button,
.btn {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding-left: 0;
  list-style: none; }

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px; } }

hr {
  border-color: rgba(255, 255, 255, 0.2); }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Avenir Next', sans-serif; }

h1 {
  font-size: 60px; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 54px; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 60px; } }

h2 {
  font-size: 26px; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 30px; } }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 20px; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 22px; } }
  @media only screen and (min-width: 992px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 16px; }
  @media only screen and (min-width: 992px) {
    h4 {
      font-size: 18px; } }

h5 {
  font-size: 14px; }
  @media only screen and (min-width: 992px) {
    h5 {
      font-size: 16px; } }

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 2; }
  @media only screen and (min-width: 992px) {
    p {
      font-size: 18px; } }
  p.size-normal {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    opacity: 0.5; }
    @media only screen and (min-width: 992px) {
      p.size-normal {
        font-size: 16px; } }
  p.size-small {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    opacity: 0.5; }
    @media only screen and (min-width: 992px) {
      p.size-small {
        font-size: 14px; } }

.btn {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; }

.btn-normal {
  color: #f60; }

.btn-orange {
  padding: 18px 32px;
  max-width: 160px;
  background-color: #f60;
  color: #fff; }

.color-orange {
  color: #f60; }

.color-dark_blue {
  color: #2B2541; }

.color-second {
  color: #2B2541; }

.text-yellow {
  color: #E8670B; }

.bg-light-green {
  background: rgba(94, 194, 98, 0.1); }

.max-width-initial {
  max-width: 100%; }
  @media only screen and (min-width: 1440px) {
    .max-width-initial {
      max-width: initial; } }

.header {
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 10; }
  .header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-nav .btn-logo {
      margin: auto;
      margin-right: 30px; }
    .header-nav .social-icons {
      margin: 5px;
      margin-left: 22px; }
      .header-nav .social-icons::before {
        content: "";
        position: absolute;
        height: 16px;
        margin-left: -15px;
        margin-top: 5px;
        border: 0.4px solid #C4C4C4; }
  .header .nav-items {
    display: flex;
    position: fixed;
    padding: 80px 0;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background-color: #1E2225;
    align-items: center;
    flex-direction: column;
    transition: left .3s ease-in-out; }
    .header .nav-items.active {
      left: 0; }
  .header .nav-item {
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 2; }
    @media only screen and (min-width: 992px) {
      .header .nav-item {
        font-size: 18px; } }
    .header .nav-item a {
      position: relative; }
      .header .nav-item a:hover {
        color: #E8670B;
        text-decoration: none; }
        .header .nav-item a:hover svg path {
          fill: #E8670B; }
        .header .nav-item a:hover::before, .header .nav-item a:hover::after {
          width: 50%; }
      .header .nav-item a::before, .header .nav-item a::after {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        background-color: #E8670B;
        transition: width .3s ease-in-out; }
    .header .nav-item a::before {
      top: 0;
      right: 0; }
    .header .nav-item a::after {
      bottom: 0;
      left: 0%; }
    .header .nav-item a {
      color: #2B2541;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      transition: color .3s ease-in-out; }
  .header .social-icon {
    text-decoration: none;
    margin: 5px; }
    .header .social-icon svg path {
      transition: fill .3s ease-in-out; }
    .header .social-icon:hover svg path {
      fill: #f60; }
  @media only screen and (min-width: 992px) {
    .header .hamburger {
      display: none; }
    .header .nav-items {
      position: static;
      padding: 0;
      width: auto;
      height: auto;
      background-color: transparent;
      flex-direction: row; }
    .header .nav-item {
      width: auto;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.8;
      opacity: 0.5;
      opacity: 1; }
      .header .nav-item a::before {
        top: auto;
        bottom: 0;
        right: 50%; }
      .header .nav-item a::after {
        top: auto;
        bottom: 0;
        left: 50%; } }
  @media only screen and (min-width: 992px) and (min-width: 992px) {
    .header .nav-item {
      font-size: 14px; } }

.hamburger {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  z-index: 101; }
  .hamburger span {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    .hamburger span:first-child {
      transform-origin: 0% 0%; }
    .hamburger span:nth-last-child(2) {
      transform-origin: 0% 100%; }
  .hamburger.active span {
    opacity: 1;
    transform: rotate(45deg) translate(-4px, -9px); }
    .hamburger.active span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    .hamburger.active span:nth-last-child(2) {
      transform: rotate(-45deg) translate(-3px, 10px); }

.section .container {
  position: relative; }

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent; }
  .footer-content {
    padding: 45px 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px; }
  .footer .footer-link {
    color: #7C788A;
    margin: 12px;
    font-size: 12px; }
    .footer .footer-linka {
      cursor: pointer; }
  .footer p.footer-link {
    margin-left: 20px; }
  .footer p.footer-link::before {
    content: "";
    position: absolute;
    height: 14px;
    margin-left: -15px;
    border: 0.4px solid #C4C4C4; }
  .footer-link {
    display: inline-flex;
    margin-bottom: 15px;
    align-items: center;
    font-size: 14px;
    line-height: 2; }
    .footer-link a {
      color: #fff; }
    .footer-link svg {
      margin-right: 9px; }
      .footer-link svg path {
        transition: fill .3s ease-in-out; }
    .footer-link a {
      position: relative; }
      .footer-link a:hover {
        color: #E8670B;
        text-decoration: none; }
        .footer-link a:hover svg path {
          fill: #E8670B; }
        .footer-link a:hover::before, .footer-link a:hover::after {
          width: 50%; }
      .footer-link a::before, .footer-link a::after {
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        background-color: #E8670B;
        transition: width .3s ease-in-out; }
    .footer-link a::before {
      top: auto;
      bottom: 0;
      right: 50%; }
    .footer-link a::after {
      top: auto;
      bottom: 0;
      left: 50%; }
  .footer-copyright {
    padding: 8px 10px;
    background: transparent;
    justify-content: space-between; }
  @media only screen and (min-width: 768px) {
    .footer-content {
      padding: 80px 15px 45px;
      flex-direction: row; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(19, 22, 26, 0.8);
  z-index: 9;
  animation: fadeIn .3s ease-in-out; }

@keyframes zoomInOut {
  from {
    transform: rotate(-10deg); }
  to {
    transform: rotate(10deg); } }
.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: no-repeat 90.3% 0% url("../images/home-bk-pattern1.png"), no-repeat 107% -110px url("../images/home-bk-pattern2.png"); }
  .home::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 50px;
    width: 300px;
    height: 800px;
    background: no-repeat bottom left url("../images/home-bk-pattern3.png");
    background-size: contain;
    z-index: 1; }
  .home .container {
    gap: 30px; }
  .home-left {
    max-width: 520px;
    width: 100%; }
  .home-right {
    position: relative;
    width: 100%; }
  .home .person {
    position: absolute;
    padding: 20px;
    width: 200px;
    height: 120px;
    background: white;
    box-shadow: 0px 4px 15px rgba(230, 230, 230, 0.3);
    border-radius: 8px;
    z-index: 2; }
    .home .person-avatar {
      margin-right: 16px;
      width: 40px;
      height: 40px;
      background: no-repeat center url("../images/avatar-1.png");
      background-size: cover;
      border: 50%; }
    .home .person-name {
      margin-bottom: 6px;
      color: #2B2541;
      font-size: 12px;
      line-height: 1; }
    .home .person span {
      color: #7C788A;
      font-size: 10px;
      letter-spacing: -0.5px;
      font-weight: 300; }
    .home .person-address {
      font-style: italic; }
    .home .person-info {
      margin: 10px 0; }
    .home .person .btn-person_story {
      color: #f60;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px; }
  .home #person1 {
    top: 0;
    left: 0; }
  .home #person2 {
    top: -80px;
    left: 232px; }
  .home #person3 {
    top: 10px;
    left: 445px; }
  .home #person4 {
    top: 200px;
    left: -36px; }
  .home #person5 {
    top: 343px;
    left: 12px; }
  .home #person6 {
    top: 335px;
    left: 260px; }

.experiences {
  background-color: white;
  background-image: url("../images/home_bk.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 90%;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex; }
  .experiences .bk-img {
    position: absolute; }
  .experiences .content-left {
    max-width: 520px;
    width: 100%;
    margin: auto 50px auto 0; }
  .experiences .content-right {
    position: relative;
    width: 100%; }
  .experiences .card {
    width: 318px;
    height: 427px;
    background: #FFFFFF;
    border-radius: 8px;
    margin: 20px; }
    .experiences .card .img-wrapper {
      width: 294px;
      height: 200px;
      margin: 12px;
      position: relative; }
      .experiences .card .img-wrapper p {
        position: absolute;
        left: 16px; }
      .experiences .card .img-wrapper .transparency {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px; }
    .experiences .card-img__desc1 {
      bottom: 46px;
      margin-bottom: 0px;
      text-transform: uppercase;
      color: #FF7112;
      font-size: 12px;
      letter-spacing: 1px; }
    .experiences .card-img__desc2 {
      bottom: 16px;
      margin-bottom: 0px;
      color: white;
      font-weight: 700; }
    .experiences .card-desc-wrapper {
      margin: 16px;
      padding: 8px; }
      .experiences .card-desc-wrapper .description {
        line-height: 16px;
        font-size: 14px;
        font-weight: 400;
        color: #f60; }
      .experiences .card-desc-wrapper .tags span {
        border-radius: 16px;
        padding: 6px 8px;
        background: #FF7112;
        color: white;
        font-size: 12px; }
      .experiences .card-desc-wrapper .settings {
        margin-top: 16px;
        justify-content: space-between;
        color: #2B2541; }
        .experiences .card-desc-wrapper .settings .type {
          font-size: 10px;
          line-height: 10px;
          margin-bottom: 0px; }
        .experiences .card-desc-wrapper .settings .content {
          font-size: 14px;
          line-height: 14px;
          font-weight: 500; }
        .experiences .card-desc-wrapper .settings-left div {
          margin-top: 5px; }
        .experiences .card-desc-wrapper .settings .exp-tip {
          margin-left: 5px;
          cursor: pointer; }
      .experiences .card-desc-wrapper .actions {
        justify-content: space-between;
        margin-top: 15px; }
        .experiences .card-desc-wrapper .actions .btn-view {
          color: #FF7112; }
        .experiences .card-desc-wrapper .actions .arrow {
          margin: auto 10px; }
          .experiences .card-desc-wrapper .actions .arrow:hover {
            cursor: pointer; }

/*# sourceMappingURL=style.css.map */
