@import '_variables';
@import '_mixins';
@import '_reboot';

// Custom Buttons
.btn {
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.btn-normal{
  color: $primary-color;
}

.btn-orange {
  padding: 18px 32px;
  max-width: 160px;
  background-color: $primary-color;
  color: #fff;
}

// Style classes
.color-orange{
  color: $orange;
}
.color-dark_blue {
  color: $dark_blue;
}
.color-second{
  color: $font-color1;
}

// Custom Color Classes
.text-yellow {
  color: $yellow;
}

.bg-light-green {
  background: rgba($green, 0.1);
  // @include colorAnimation('green');
}

// Max-width
.max-width-initial {
  max-width: 100%;
  @include mq('desktop-wide') {
    max-width: initial;
  }
}

// Header styles
.header {
  position: fixed;
  padding: 20px 0;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: $z-header;
  // box-shadow: 0 3px 8px rgba($dark, 0.2);
  &-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn-logo{
      margin: auto;
      margin-right: 30px;
    }
    .social-icons{
      margin: 5px;
      margin-left: 22px;
      &::before{
        content: "";
        position: absolute;
        height: 16px;
        margin-left: -15px;
        margin-top: 5px;
        border: 0.4px solid #C4C4C4;
      }
    }
  }
  .nav-items {
    display: flex;
    position: fixed;
    padding: 80px 0;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background-color: $black;
    align-items: center;
    flex-direction: column;
    transition: left .3s ease-in-out;
    &.active {
      left: 0;
    }
  }
  .nav-item {
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
    @include bodyText('large');
    @include menuEffect($yellow);
    @include menuHover2();
    a {
      color: $font-color1;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      transition: color .3s ease-in-out;
    }
  }
  .social-icon {
    text-decoration: none;
    margin: 5px;
    
    svg path {
      transition: fill .3s ease-in-out;
    }
    &:hover {
      svg path {
        fill: $primary-color;
      }
    }

  }
  @include mq('tablet-wide') {
    .hamburger {
      display: none;
    }
    .nav-items {
      position: static;
      padding: 0;
      width: auto;
      height: auto;
      background-color: transparent;
      flex-direction: row;
    }
    .nav-item {
      width: auto;
      @include menuHover1();
      @include bodyText('small');
      opacity: 1; 
    }
  }
}

// Hamburger Button
.hamburger {
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  z-index: 101;

  span {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
    background: $white;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

  &.active span {
    opacity: 1;
    transform: rotate(45deg) translate(-4px, -9px);

    &:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:nth-last-child(2) {
      transform: rotate(-45deg) translate(-3px, 10px);
    }
  }

}

// Page Styles
.section {
  .container {
    position: relative;
  }
}

// Footer 
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  &-content {
    padding: 45px 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .footer-link{
    color: $font-color2;
    margin: 12px;
    font-size: 12px;
    &a{
      cursor: pointer;
    }
  }
  p.footer-link{
    margin-left: 20px;
  }
  p.footer-link::before{
    content: "";
    position: absolute;
    height: 14px;
    margin-left: -15px;
    border: 0.4px solid #C4C4C4;
  }
  &-link {
    display: inline-flex;
    margin-bottom: 15px;
    align-items: center;
    font-size: 14px;
    line-height: 2;
    a {
      color: $white;
    }
    svg {
      margin-right: 9px;
      path {
        transition: fill .3s ease-in-out;
      }
    }
    @include menuEffect($yellow);
    @include menuHover1();
  }
  &-copyright {
    padding: 8px 10px;
    background:transparent;
    justify-content: space-between;
  }
  @include mq('tablet') {
    &-content {
      padding: 80px 15px 45px;
      flex-direction: row;
    }
  }
}

// Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($dark, 0.8);
  z-index: $z-overlay;
  animation: fadeIn .3s ease-in-out;
}

@keyframes zoomInOut {
  from { transform: rotate(-10deg); } 
  to { transform: rotate(10deg); }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: no-repeat 90.3% 0% url("../images/home-bk-pattern1.png"), 
              no-repeat 107% -110px url("../images/home-bk-pattern2.png");

  &::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 50px;
    width: 300px;
    height: 800px;
    background: no-repeat bottom left url('../images/home-bk-pattern3.png');
    background-size: contain;
    z-index: 1;
  }
  .container {
    gap: 30px;
  }
  &-left {
    max-width: 520px;
    width: 100%;
  }
  &-right {
    position: relative;
    width: 100%;
  }
  .person {
    position: absolute;
    padding: 20px;
    width: 200px;
    height: 120px;
    background: white;
    box-shadow: 0px 4px 15px rgba(230, 230, 230, 0.3);
    border-radius: 8px;
    z-index: 2;
    &-avatar {
      margin-right: 16px;
      width: 40px;
      height: 40px;
      background: no-repeat center url('../images/avatar-1.png');
      background-size: cover;
      border: 50%;
    }
    &-name {
      margin-bottom: 6px;
      color: $dark_blue;
      font-size: 12px; 
      line-height: 1;
    }
    span {
      color: $font-color2;
      font-size: 10px;
      letter-spacing: -0.5px;
      font-weight: 300;
    }
    &-address {
      font-style: italic;
    }
    &-info {
      margin: 10px 0;
    } 
    .btn-person_story {
      color: $primary-color;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
  #person1 {
    top: 0;
    left: 0;
  }
  #person2 {
    top: -80px;
    left: 232px;
  }
  #person3 {
    top: 10px;
    left: 445px;
  }
  #person4 {
    top: 200px;
    left: -36px;
  }
  #person5 {
    top: 343px;
    left: 12px;
  }
  #person6 {
    top: 335px;
    left: 260px;
  }
}